<app-header></app-header>

<div class="container">
    <div class="confirmation-container">
        <h1>Xác nhận đơn hàng</h1>
        <div>
            <p *ngIf="response == '00'">Thanh toán đơn hàng thành công! Cảm ơn bạn đã đặt hàng!</p>
            <p *ngIf="response != '00'">Thanh toán đơn hàng không thành công! Vui lòng thanh toán lại!</p>
        </div>
    </div>

    <div class="text-center mt-3">
        <button class="btn btn-gradient" type="button" routerLink="/">Tiếp tục mua sắm</button>
        <button class="btn btn-gradient ms-5" type="button" *ngIf="response != '00'" routerLink="/cart">Thanh toán
            lại</button>

    </div>

</div>

<app-footer></app-footer>