<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Thông tin đơn hàng</h1>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="product-header">Thông tin người nhận</h2>
            <form #orderDetailForm="ngForm">
                <div class="mb-3">
                    <label for="fullName" class="form-label">Họ và tên:</label>
                    <input type="text" class="form-control" [(ngModel)]="fullName" name="fullName" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email:</label>
                    <input type="text" class="form-control" [(ngModel)]="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="phoneNumber" class="form-label">Số điện thoại:</label>
                    <input type="text" class="form-control" [(ngModel)]="phoneNumber" name="phoneNumber" required>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Địa chỉ:</label>
                    <input type="text" class="form-control" [(ngModel)]="address" name="address" required>
                </div>
                <div class="mb-3">
                    <label for="note" class="form-label">Ghi chú:</label>
                    <input type="text" class="form-control" [(ngModel)]="note" name="note">
                </div>
                <div class="mb-3">
                    <label for="shippingMethod" class="form-label">Phương thức vận chuyển:</label>
                    <select id="shippingMethod" class="form-select" [(ngModel)]="shippingMethod" name="shippingMethod">
                        <option class="product-category" value="shopee-express">Shopee Express</option>
                        <option class="product-category" value="fast-express">Nhanh Express</option>
                        <option class="product-category" value="slow-express">Chậm Express</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="paymentMethod" class="form-label">Phương thức thanh toán:</label>
                    <select id="paymentMethod" class="form-select" [(ngModel)]="paymentMethod" name="paymentMethod"
                        (change)="onPaymentMethodChange()">
                        <option class="product-category" value="e-wallet">Ví điện tử</option>
                        <option class="product-category" value="master-card">Thẻ Master Card/ATM nội địa</option>
                        <option class="product-category" value="visa">Thẻ VISA</option>
                        <option class="product-category" value="cash-on-delivery">Thanh toán khi nhận hàng</option>
                    </select>
                </div>
                <div *ngIf="paymentMethod === 'master-card'" class="logo-container">
                    <div (click)="selectBank('ncb')" [class.selected]="bankCode === 'ncb'">
                        <img src="assets/img/ncb.png" alt="NCB Logo" class="logo-image" />
                    </div>
                    <div (click)="selectBank('vnpay')" [class.selected]="bankCode === 'vnpay'">
                        <img src="assets/img/vnpay.jpg" alt="VNPAY Logo" class="logo-image" />
                    </div>
                </div>
                <div *ngIf="paymentMethod === 'e-wallet'">
                    <img src="assets/img/vnpay.jpg" [(ngModel)]="paymentType" alt="VNPay Logo" class="logo-image"
                        [class.border]="isBorderVisible" (click)="toggleBorder()" />
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <h2 class="product-order">Sản phẩm đã đặt</h2>
            <table>
                <thead>
                    <tr>
                        <th scope="col" class="text-start">Sản phẩm</th>
                        <th scope="col">Số lượng</th>
                        <th scope="col">Đơn giá</th>
                        <th scope="col">Tổng giá</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of selectedProducts; let i=index">
                        <td>
                            <div class="product-info">
                                <img [src]="'http://localhost:8039/api/v1/product/images/' + item.productDetail.thumbnail"
                                    alt="Product Image" class="product-image">
                                <span class="product-name">{{item.productDetail.name}}</span>
                            </div>
                        </td>
                        <td>{{item.quantity}}</td>
                        <td>{{formatCurrency(item.productDetail.price)}}</td>
                        <td>{{formatCurrency(item.quantity*item.productDetail.price)}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="text-start mt-3">
                <h4 class="header-text text-end">Tổng: {{formatCurrency(totalAmount)}}</h4>
            </div>
            <div class="mt-3">
                <h4 class="product-header">Nhập coupon</h4>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Nhập coupon">
                    <button class="btn btn-gradient" type="button">Áp dụng</button>
                </div>
            </div>
            <div class="text-end mt-3">
                <button class="btn btn-gradient" (click)="orderNow()">Thanh toán</button>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>