<!-- <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <svg xlmns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="50" height="50">
                    <circle cx="50" cy="50" r="45" fill="rgb(240,101,197)" />
                    <circle cx="50" cy="50" r="35" fill="rgb(127,68,255)" />
                </svg>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="nav-item" routerLink="/">Trang chủ</div>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link notification-icon-container" routerLink="/">Thông báo
                            <i class="fas fa-bell icon"></i>
                            <span *ngIf="notificationCnt > 0" class="notification-badge">{{notificationCnt}}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link cart-icon-container" routerLink="/cart">Giỏ hàng
                            <i class="fas fa-shopping-cart icon"></i>
                            <span *ngIf="cartItemCnt > 0" class="cart-badge">{{cartItemCnt}}</span>
                        </a>
                    </li>
                    <li class="nav-item" *ngIf="!username">
                        <a class="nav-link" routerLink="/login">Đăng nhập</a>
                    </li>
                    <li class="nav-item" *ngIf="username">
                        <a class="nav-link" href="#">Xin chào, {{username}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header> -->

<header class="navbar">
    <div class="container">
        <div class="navbar-left">
            <a routerLink="/">
                <img src="assets/img/MU.jpg" alt="Logo" class="navbar-logo">
            </a>
        </div>
        <div class="navbar-right">
            <a routerLink="/" class="navbar-link notification-icon-container">Thông báo
                <i class="fas fa-bell icon"></i>
                <span *ngIf="notificationCnt > 0" class="notification-badge">{{notificationCnt}}</span>
            </a>
            <span class="navbar-divider">|</span>
            <a routerLink="/cart" class="navbar-link notification-icon-container">Giỏ hàng
                <i class="fas fa-shopping-cart icon"></i>
                <span *ngIf="cartItemCnt > 0" class="cart-badge">{{cartItemCnt}}</span>
            </a>
            <span class="navbar-divider">|</span>
            <ng-container *ngIf="username">
                <span class="navbar-username" (click)="toggleDropdown()">
                    Xin chào, {{ username }}
                    <i class="fas fa-caret-down"></i>
                </span>
                <div class="dropdown-menu" *ngIf="isDropdownVisible">
                    <a routerLink="/my-orders" class="dropdown-item">Đơn hàng của tôi</a>
                    <a (click)="logout()" class="dropdown-item">Đăng xuất</a>
                </div>
            </ng-container>
            <ng-container *ngIf="!username">
                <a routerLink="/login" class="navbar-link">Đăng nhập</a>
            </ng-container>
        </div>
    </div>
</header>