<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Thông tin giỏ hàng</h1>
    </div>

    <div class="row">
        <h2 class="product-order">Sản phẩm trong giỏ hàng</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col"><input type="checkbox" [checked]="isAllSelected" (change)="toggleSelectAll($event)">
                    </th>
                    <th scope="col">Sản phẩm</th>
                    <th scope="col">Số lượng</th>
                    <th scope="col">Đơn giá</th>
                    <th scope="col">Tổng giá</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productDetails; let i = index">
                    <td><input type="checkbox" [checked]="isSelected(i)" (change)="toggleSelection(i)"></td>
                    <td>
                        <div class="product-info">
                            <img [src]="'http://localhost:8039/api/v1/product/images/' + item.productDetail.thumbnail"
                                alt="Product Image" class="product-image">&nbsp;&nbsp;&nbsp;&nbsp;
                            <span class="product-name">{{item.productDetail.name}}</span>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button (click)="decreaseQuantity(i)" [disabled]="item.quantity == 0">-</button>
                            {{item.quantity}}
                            <button (click)="increaseQuantity(i)">+</button>
                        </div>
                    </td>
                    <td>{{formatCurrency(item.productDetail.price)}}</td>
                    <td>{{formatCurrency(item.quantity*item.productDetail.price)}}</td>
                </tr>
            </tbody>
        </table>
        <div class="text-start mt-3">
            <h4 class="header-text text-end">Tổng: {{formatCurrency(totalAmount)}}</h4>
        </div>
        <div class="text-end mt-3">
            <button class="btn btn-gradient" (click)="order()">Mua hàng</button>
        </div>
    </div>
</div>

<app-footer></app-footer>