<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Chi tiết sản phẩm</h1>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div *ngFor="let image of productDetail.productImages; let i = index" class="carousel-item"
                        [ngClass]="{'active': i === currentImageIndex}">
                        <div class="square-image">
                            <img [src]="'http://localhost:8039/api/v1/product/images/' + image" class="product-image"
                                alt="Product Image">
                        </div>
                    </div>

                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true" (click)="previousImage()"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true" (click)="nextImage()"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="thumbnail-container">
                    <div *ngFor="let image of productDetail.productImages; let i = index" class="thumbnail-item"
                        [ngClass]="{'active': i === currentImageIndex}">
                        <div class="thumbnail-item" (click)="selectThumbnail(i)">
                            <img [src]="'http://localhost:8039/api/v1/product/images/' + image" class="thumbnail-image"
                                alt="Thumbnail Image">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="product-details">
                <h2>Thông tin chi tiết sản phẩm</h2>
                <p>Mô tả sản phẩm:</p>
                <p>{{productDetail.description}}</p>
                <p>Giá: ${{productDetail.price}}</p>
                <div class="product-actions">
                    <button class="btn btn-primary">Thêm vào giỏ hàng</button>
                    <button class="btn btn-success">Mua ngay</button>
                </div>
                <div class="product-quantity">
                    <div class="border-wrapper">
                        <button>-</button>
                        <input type="text" value="1">
                        <button>+</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>