<app-header></app-header>

<div class="container">
    <div class="intro-section">
        <h1>Chào mừng bạn đến với Nhà cái đến từ châu Âu FB88</h1>
    </div>
    <!-- Đoạn này có 1 search box bên trái, combo box bên phải -->
    <div class="search-box">
        <input type="text" class="form-control search-input" placeholder="Tìm sản phẩm"
            (input)="onSearchChange($event)">
        <select class="form-control product-category" (change)="onCategoryChange($event)">
            <option class="product-category" selected disabled>Danh mục sản phẩm</option>
            <option class="product-category" *ngFor="let category of categories" [value]="category.id">{{category.name}}
            </option>
            <!-- <option class="product-category">Thời trang</option> -->
            <!-- <option class="product-category">Bánh kẹo</option> -->
        </select>
    </div>
    <div class="row">
        <!-- màn hình kích thước large col-lg-4: hiện 3 sản phẩm -->
        <!-- màn hình kích thước large col-md-6: hiện 2 sản phẩm -->
        <!-- col-sm: small -->
        <div class="col-lg-4 col-md-6" *ngFor="let product of products">
            <div class="product-item" (click)="goToDetailProduct(product.id)">
                <img [src]="product.url != '' ? product.url : './assets/img/uncle_Ho.png'" alt="Product Image"
                    class="product-image">
                <h3 class="product-name">{{product.name}}</h3>
                <p class="product-description">{{product.description}}</p>
                <p class="product-price">Giá: ${{product.price}}</p>
                <div class="product-rating">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-alt"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <button id="first" (click)="goToFirstPage()" [disabled]="currentPage === 1">&laquo;</button>
        <button id="prev" (click)="goToPrevPage()" [disabled]="currentPage === 1">&lt;</button>
        <span id="pageInfo">Page {{currentPage}} of {{totalPages}}</span>
        <button id="next" (click)="goToNextPage()" [disabled]="currentPage === totalPages">&gt;</button>
        <button id="last" (click)="goToLastPage()" [disabled]="currentPage === totalPages">&raquo;</button>
    </div>
</div>

<app-footer></app-footer>