.intro-section {
    text-align: center;
    color: white;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.product-category {
    width: 200px;
    color: white;
    background-color: rgb(19, 23, 42);
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.form-control {
    background-color: transparent;
    color: white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Safari */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* IE */
    color: rgba(255, 255, 255, 0.5);

}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: rgb(19, 23, 42);
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    /*bo góc */
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.product-image {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
}

.product-name {
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    /* Adjust based on your line-height */
}

.product-description {
    color: rgb(173, 178, 203);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3em;
    /* Adjust based on your line-height */
}


// .product-name {
//     color: white;
// }

// .product-description {
//     color: rgb(173, 178, 203);
// }

.product-warranty {
    color: rgb(242, 126, 212);
}

.product-price {
    color: white;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
}

.pagination {
    display: flex;
    justify-content: center;
    /* Centering the content horizontally */
    align-items: center;
    /* Centering the content vertically */
    margin: 20px 0;
}

.pagination button {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    padding: 10px 15px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
    color: blue;
    /* Increase font size if needed */
}

.pagination button:disabled {
    background-color: #e9e9e9;
    cursor: not-allowed;
}